.clubBox {
 position:absolute;
 top: 0em; right: 2em;
 width: 20em;
}

/* grades box */

.gradeHistory {
 position:absolute;
 width: 20em;
 padding: 0 1em 1em 1em;
 top:25%; left:40%;
 border: inset;
 background: white;
}

.lwp {
 text-align:left;
 padding-right:1em;
}

/* Zero out padding and margin, adjust where needed later */
form, fieldset, label, input, .checkbox, textarea, select, option, form div {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0 0 0.5em 0;
  padding: .1em .5em;
  border: 1px solid #999;
}

legend {
  font-weight: bold;
  margin: 0 2% 0 0;
  width:inherit; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none;
}

option {
  float: none;
  clear: both;
  margin-right: 2em;
}

.session-padding {
  padding-left: 1px;
  padding-right: 1px;
}

.six-em { width: 6em; }
.nine-em { width: 9em; }
 
.fraisOnRight label {
  padding-right: 2em;
  float: right;
}

.floatRight {
  float: right;
}

.border-bottom {
  border-bottom: 1px grey;
}

/* end form stuff */

@media print {
    input, textarea {
        border: 0 !important;
        border-style: none !important;
	transition: none;
        text-size: 83%;
	padding: 0.1em;
    }

    .casMedical {
	position: absolute;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em; padding-bottom: 0.1em;
	margin-top: -2em;
	width: 20em;
	display: block;
	border: solid;
	right: 3em;
	font-size: 70%;
    }
}

@media screen {
    .casMedical {
	display:none;
    }
}
