.settings/org.eclipse.core.resources.prefs
.settings/com.google.appengine.eclipse.core.prefs
.gwt
gwt-unitCache
*.class
*~
war/WEB-INF/lib/*
war/WEB-INF/deploy/*
war/WEB-INF/classes/*
war/judodb/*



