src/ca/patricklam/judodb/client/Version.java
build-timestamp.properties
.settings/org.eclipse.core.resources.prefs
.settings/com.google.appengine.eclipse.core.prefs
.gwt
gwt-unitCache
*.class
*~
war
push
html-src/_config.php


