html {
  margin: 0;
}

body {
  margin: 0;
}

.title {
  display: none;
}

body {
  font-family: arial, sans-serif;
  font-size: 9pt;
}

label {
  color: #888;
}

.cid {
 position:absolute;
 top:0; right: 1em;
 font-size: xx-large;
}

.form-control {
 padding:0;
 height:25px;
}

.form-control[disabled] {
 padding:0;
}

legend {
 display:none;
}

select.form-control {
  border: none;
}

select[disabled].form-control {
  border: none;
}

.control-label {
  font-size: x-small;
}

.bootstrap-switch {
  border: none;
}

/* Inspired by http://2tbsp.com/content/flexible_and_efficient_htmlcss_form_layout */

/* Zero out padding and margin, adjust where needed later */
form, fieldset, label, input, .checkbox, textarea, select, option, form div {
  margin: 0;
  padding: 0;
  border: 0;
}

option {
  float: none;
  clear: both;
}

/* Create a bit of padding for text inputs and selects */
input.text, input.button, textarea, select {
  padding: 0;
}

.blurb {
  display: block;
  font-size: 80%;
}

.dark { 
  border:1px solid;
}

.notlink-in-print {
  text-decoration: none;
  color: black;
}

.form-control[name="nom"], .form-control[name="prenom"], .form-control[name="sexe"] {
  font-size: large;
  font-weight: bold;
}

.form-control[name="ddn"] {
  font-size: large;
}

.form-control[name="blurb"] {
  font-size: x-small;
  display: block;
}

.form-group {
  line-height: 8px;
}

.form-group[id="identite"] {
  height: 22px;
}
