
/* client widget stuff which gets redefined for print */
.cid {
 position:absolute;
 top:1.5em; right: 1em;
 font-size: xx-large;
}

.blurb {
  display: none;
}

.darkBG {
  background-color: #eee;
}

.h1 {
  margin-left: 1em;
}
