
/* client widget stuff which gets redefined for print */
.noprint {}
.casMedical {
  display:none;
}

.clubBox {
 position:absolute;
 top: 0em; right: 2em;
 width: 20em;
}

.cid {
 position:absolute;
 top:1.5em; right: 1em;
 font-size: xx-large;
}

.blurb {
  display: none;
}

.darkBG {
  background-color: #eee;
}

.h1 {
  margin-left: 1em;
}
